<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <button *ngIf="true" type="submit" class="btn btn-primary" [routerLink]="['/foodCreate']">Crear</button>
  <div class="grid">
    <div class="card" style="width: 18rem;" *ngFor="let elemento of lstMessages | async">
      <img class="card-img-top" src="assets/img/statistics.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          {{elemento.nombre}}
        </h5>
        <p class="card-text">

          Ingredientes: {{elemento.ingredientes}}
        </p>
        <p class="card-text">

          Precio: {{elemento.precio}}
        </p>
        <button *ngIf="true" type="submit" class="btn btn-danger" [routerLink]="['/footEdit',elemento.platosId]">Editar</button>
        <button *ngIf="true" type="submit" class="btn btn-success" (click)="DeleteInfo(elemento.platosId)">Eliminar</button>
      </div>
    </div>
  </div>
</body>
</html>
